body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: blue;
    text-align: center;
    color: blue;
}


.navbar {
    background: #1e7f5c;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    background: #f4fdf9;
    text-align: center;
    padding: 100px 20px;
}

.cta-btn {
    background: #1e7f5c;
    color: white;
    padding: 14px 30px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.section {
    padding: 60px 40px;
    text-align: center;
}

.section.alt {
    background: #f9f9f9;
}

.benefits-list {
    list-style: none;
    padding: 0;
}

.benefits-list li {
    margin: 10px 0;
}
nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #333;
}

nav a:hover {
    color: #2ecc71;
}
form {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.footer {
    background: #1e7f5c;
    color: white;
    text-align: center;
    padding: 20px;
}
